.text-secondary{
    color: black;
}

.navbar-brand{
  text-align: center;

}
 
.navbar {
    width: 100%;
    background-color:rgba(248, 248, 250, 0.596) !important;
    padding: 10px;
    align-items: center !important;
  }

.nav-link{
  margin-right: 60px;

}

.nav-link-share{
  margin-left: 60px;

}

a {
color: gray !important;

}

