 .text-secondary{
    color: black;
}

a {
color: gray !important;


}

.navbar .navbar-nav{
  background-color:rgba(248, 248, 250, 0.137) !important;
  position: relative
} 

.App-logo{
  width: 85px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -50px !important; 
  margin-top: -20px !important; 
  /* display: block; */
}