*{
  font-family: 'Montserrat', sans-serif;

}

html {
  height: 1000px;
}

.homeTitle{
  font-weight: 200 !important;
  font-size: 2rem;
}

.containerTitle{
  text-align: center;
  margin-top: 100px;
  align-items: center;
  display:inline-block;
}

.App {
  height: 1000px;
  text-align: center;
  scroll-behavior: smooth;
}


.App {

background: url('../src/pages/background1.png') no-repeat center center fixed;
-webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}



