*{
  font-family: 'Montserrat', sans-serif;

}


.homeTitle{
  font-weight: 200 !important;
  font-size: 2rem;
  margin: 1em 1em .5em 1em !important;
}


.containerTitle{
  text-align: center;
  margin-top: 100px;
  align-items: center;
  display:inline-block;
}

.App {
  height: 100%;
  text-align: center;
  scroll-behavior: smooth;
  background: url('../src/pages/background1.png') no-repeat center center fixed;
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



