.descriptionsRight{
  float: left;
  margin-top: 6em;
  font-size: 10px;
  color: black;
}

.descriptionsLeft{
  float: right;
  margin-top: 6em;
  font-size: 10px;
  color: black;
}

.col-md-6{
  padding-left: 0 !important;
  padding-right: 0 !important;
}