.descriptionsLeft{
  margin-top: 3.2em;
  font-size: 12px;
  color: white;
  text-align:left;
  font-weight: bold;
}

.descriptionsRight{
  margin-top: 3.2em;
  font-size: 12px;
  color: white;
  text-align:right;
  font-weight: bold;
}

.sliderRight{
  margin-left: 60px;
  padding-right: 60px;
  float: left;
}

.scrollerRow{
  margin-bottom: 200px;
}


.questions{
  color: white;
}

.col-md-6{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.titleQ{
  margin-top: 35% !important;
  font-weight: 800;
  font-size: 50px;
  text-align: left;

}

.Wrapper{
  padding-top: 150px;
  height: 100%;
  background: url('../pages/background2.png') no-repeat center center fixed;
}

.Wrapper-2{
  background-color: blue;
}

.backgroundRight{
  background-color: lightblue;
}

