#frontPage{
    height: 750px;
  }

h4{
   color:white !important;
   font-weight: bold;
}

.loginForm{
  margin-top: 15%;
  margin-bottom: 15%;
}
.mt-4{
  /* margin: 200px !important; */
  width: 800px;
  margin: 0 auto;
}
.managerPage{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 95%;
}

input{
  font-size: 14px !important;
}

.list-group-item{
  width: 1000px;
  margin: 0 auto;
}

.manager-signup{
  padding: 10px;
  border-radius: 5px;
  background-color: #5755d9;
  color: white !important;
}

@media only screen and (max-width: 1024px) {

  .mt-4{
    width: 500px;
    margin: 0 auto;
  }

  .numberInput{
    width: 10px !important;
  }



}
@media only screen and (max-width: 768px) {
  #frontPage{
    height: 700px;


  }

.parentCard{
  background-color: rgba(247, 247, 247, 0.295) !important;
}

.loginForm{
  margin-top: 40%;
  margin-bottom: 40%;
}

}


@media only screen and (max-width: 414px) {

  h1{
    font-size: 1.3rem !important;
  }
  #frontPage{
    height: 520px;
  }
  .form-input{
    max-width: 100px !important;
  }

  .loginBtn{
    margin-left: 25%;
  }

  .loginForm{
    margin-top: 60%;
    margin-bottom: 60%;
  }

  .mt-4{
    width: 215px;
    margin: 0 auto;
  }

}