#frontPage{
    height: 750px;
  }

h4{
   color:white !important;
   font-weight: bold;
}

.loginForm{
  margin-top: 15%;
  margin-bottom: 15%;
}

.managerPage{
  margin-bottom: 25%;
}

.list-group-item{
  width: 1000px;
  margin: 0 auto;
}

.manager-signup{
  padding: 10px;
  border-radius: 5px;
  background-color: #5755d9;
  color: white !important;
}




@media only screen and (max-width: 768px) {
  #frontPage{
    height: 700px;
  }


.form-input{
  max-width: 100px !important;
}


}


@media only screen and (max-width: 400px) {
  #frontPage{
    height: 650px;
  }

}