.submit-btn{
    margin-top: 2em;
    margin-bottom: 8em;

}


.start-btn{
    margin-bottom: 2em;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    animation-duration: 2s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 20%;
    }
  }
