.containerIpad{
margin: 0 auto;
padding-left: 15%;
animation: float 3s ease-in-out infinite;

}

.containerIpad:last-child{
	margin: 0 auto;
}

#cinemagraph{
	position:absolute; 
	z-index: 1;
	top:7.5%; 
	left: 32%;
    width:510px; 
    height:330px;
}

.ipad{
	z-index: 0;
    position:relative; 
	/* overflow: hidden; */
	width: 800px;
	height: 600px;
}

.flx-embed{
	margin: 0 auto;
}



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(247, 245, 245, 0.034);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0);
		transform: translatey(-30px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.014);
		transform: translatey(0px);
	}
}



@media only screen and (max-width: 768px) {

	.ipad{
		width: 600px;
		height: 400px;
		margin: 20px auto;
	}

	#cinemagraph{
		width: 380px;
		height: 220px;
		left: 21%;
	}

	.containerIpad{
		margin: 15% auto;
		/* padding-left: 2%; */
		width: 100%;
		
		}

}

@media only screen and (max-width : 736px) { 
	.ipad{
		width: 440px;
		height: 300px;
		margin: 0 auto;

	}
	.containerIpad{
		margin-top: 10%;
		width: 100%;
		
		}

		#cinemagraph{
			width: 440px;
			height: 300px;
			margin: 0 auto;
		}

}


@media only screen and (max-width: 414px) {

	.ipad{
		top: 40px;
		width:350px;
		height: 240px;
		left: 25px;
	}

	#cinemagraph{
		width:220px;
		height: 130px;
		left: 85px;
		top: 58px;
		margin: 0 auto;

	}

	
	
	.containerIpad{
		margin-top: 20%;
		margin-left: 10%;
		padding-left: 2%;
		width: 100%;
		
		}

}


@media only screen and (max-width: 375px) {

	.ipad{
		width:350px;
		height: 240px;
		left: 25px;
		/* animation: float 7s ease-in-out infinite; */
	}

	#cinemagraph{
		width:220px;
		height: 130px;
		left: 65px;
		top: 58px;
		margin: 0 auto;

	}

}