.card .mb-3{
    max-width:540px !important;
}

.icons{
    margin: 15px;
}

.card{
    margin-top: 150px;
}



.card-img-forum{
    width: 30%;
}

.bookBtn{
    background-color: #5755d9;
    padding: .5em;
    border-radius: 5%;
    color: white !important;
    text-decoration: none !important;
}



.titleQ{
    color: white !important;
}

.card:last-of-type {
    margin-bottom: 200px;
}
