.card .mb-3{
    max-width:540px !important;
}

.icons{
    margin: 15px;
}

.card{
    margin-top: 150px;
}

.card-img-forum{
    width: 30%;
}

.bookBtn{
    background-color: rgba(65, 105, 225, 0.336);
}

.titleQ{
    color: white !important;
}

